.Search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #65493F;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 0px 10px 2px black;

    & input {
        height: fit-content;
        font-size: 18pt;
        width: 90%;
        box-shadow: 0px 0px 10px black;
    }
}