.Search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #65493F;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 0px 10px 2px black;

}

.Title {
    padding: 10px;
}

.Input {
    height: fit-content;
    box-sizing: border-box;
    font-size: 18pt;
    width: 50%;
    box-shadow: 0px 0px 10px black;
    margin: 5px;
}

.Submit {
    font-size: 15pt;
    background-color: #3f425e;
    color: white;
    padding: 5px;
    width: 25%;
    box-sizing: border-box;
    margin: 5px;
}